.footer {
  color: #b3b3b3;
  padding: 48px 24px;
  font-size: 14px;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

/* LEFT */
.footer__left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__logo {
  width: 124px;
  height: auto;
  opacity: 0.9;
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 4px;

  strong {
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.4px;
  }

  span {
    color: #9ca3af;
    font-size: 13px;
  }
}

/* CENTER */
.footer__center {
  text-align: center;
  color: #6dd3c6; // accent mint
  font-size: 13px;
}

/* RIGHT */
.footer__right {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-end;

  a {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 13px;
    transition: color 0.2s ease;

    &:hover {
      color: #6dd3c6;
    }
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer__container {
    grid-template-columns: 1fr;
    gap: 32px;
    text-align: center;
  }

  .footer__left {
    justify-content: center;
  }

  .footer__right {
    justify-content: center;
    flex-wrap: wrap;
  }
}
