<footer class="footer">
    <div class="footer__container">
        <!-- LEFT -->
        <div class="footer__left">
            <a class="footer__home" routerLink="/" (click)="goHome()" aria-label="Home">
                <img src="assets/logo/logo_grau.png" [attr.alt]="'footer.logoAlt' | t" class="footer__logo" />
            </a>
            <div class="footer__info">
                <strong>DIMIT</strong>
                <span>{{ 'footer.role' | t }}</span>
                <span>{{ 'footer.location' | t }}</span>
            </div>
        </div>
        <!-- RIGHT -->

        <div class="footer__right">
            <a href="https://github.com/milosdimi" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/milos-dimitrijevic-35a552195" target="_blank">LinkedIn</a>
            <a href="mailto:dm@dimit.cc">{{ 'footer.email' | t }}</a>
            <a routerLink="/impressum">{{ 'footer.legal' | t }}</a>
            <a routerLink="/datenschutz">{{ 'footer.privacy' | t }}</a>
        </div>


        <!-- CENTER -->
        <div class="footer__center">
            &copy; {{ 'footer.copyright' | t }} {{ year }}
        </div>
    </div>
</footer>
