<header class="header">
  <div class="container header__inner">
    <div class="header__left">
      <!-- Language Switch -->
      <div class="lang lang--slider" role="group" aria-label="Language switch">
        <span class="lang__thumb isLeft" aria-hidden="true"></span>
        <button class="lang__btn isActive" type="button">EN</button>
        <button class="lang__btn" type="button">DE</button>
      </div>
      <!-- Nav -->
      <nav class="nav">
        <a class="nav__link" href="#about">About me</a>
        <a class="nav__link" href="#skills">Skills</a>
        <a class="nav__link" href="#projects">Projects</a>
      </nav>
    </div>

    <!-- Logo -->
    <a class="logo" routerLink="/" aria-label="Home">
      <img src="assets/logo/logo_grau.png" alt="DIMIT Logo">
    </a>
  </div>
</header>