code,
.mono {
  font-family: "Fira Code", ui-monospace, monospace;
}

:root {
  --bg-0: #1c1c1c;
  --bg-1: #08463b;

  --text: rgba(255, 255, 255, 0.9);
  --muted: rgba(255, 255, 255, 0.7);

  --accent: #78d7c3;
  --border: rgba(255, 255, 255, 0.22);

  --t-fast: 120ms;
  --container: 1440px;
  --gutter-desktop: 48px;
  --gutter-mobile: 24px;
}

body {
  margin: 0;
  color: var(--text);
  background: var(--bg-0);
  font-family: "Karla", system-ui, sans-serif;
  overflow-x: hidden;
}
h2 {
    color: rgba(61, 207, 182, 0.8);
}
.container {
  width: min(var(--container), calc(100% - var(--gutter-desktop)));
  margin-inline: auto;
}

@media (max-width: 600px) {
  .container {
    width: min(var(--container), calc(100% - var(--gutter-mobile)));
  }
}
