code,
.mono {
  font-family: "Fira Code", ui-monospace, monospace;
}

:root {
  --bg-0: #1c1c1c;
  --bg-1: #08463b;

  --text: rgba(255, 255, 255, 0.9);
  --muted: rgba(255, 255, 255, 0.7);

  --accent: #78d7c3;
  --border: rgba(255, 255, 255, 0.22);

  --t-fast: 120ms;
  --container: 1440px;
  --gutter-desktop: 48px;
  --gutter-mobile: 24px;
  --scroll-offset: 8px;
}

html {
  overflow-x: clip;
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-offset);
}

body {
  margin: 0;
  color: var(--text);
  background: var(--bg-0);
  font-family: "Karla", system-ui, sans-serif;
  overflow-x: clip;
}
h2 {
    color: rgba(61, 207, 182, 0.8);
}
.container {
  width: 100%;
  max-width: var(--container);
  padding-inline: var(--gutter-desktop);
  box-sizing: border-box;
  margin-inline: auto;
}

.no-scroll {
  overflow: hidden;
}


@media (max-width: 600px) {
  html {
    scroll-padding-top: 72px;
  }

  .container {
    padding-inline: var(--gutter-mobile);
  }
}
