.footer {
  color: #b3b3b3;
  padding: 24px 24px;
  font-size: 16px;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  row-gap: 24px;
}

/* LEFT */
.footer__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer__logo {
  width: 170px;
  height: auto;
  opacity: 0.9;
  border-radius: 8px;
  &:hover {
    background: linear-gradient(224deg, var(--bg-0) 42%, var(--bg-1) 100%);
    opacity: 1;
  }
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;

  strong {
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.4px;
    font-size: 16px;
  }

  span {
    color: #9ca3af;
    font-size: 16px;
  }
}

.footer__location {
  color: #9ca3af;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer__location:hover {
  color: #6dd3c6;
}

/* CENTER */
.footer__center {
  text-align: center;
  color: #6dd3c6; // accent mint
  font-size: 16px;
  grid-column: 1 / -1;
  margin-top: 8px;
}

/* RIGHT */
.footer__right {
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: flex-end;
    justify-self: end;
    text-align: right;
    margin-left: auto;

  a {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.2s ease;

    &:hover {
      color: #6dd3c6;
    }
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer__container {
    grid-template-columns: 1fr 1fr;
    gap: 20px 18px;
    text-align: left;
  }

  .footer__left {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .footer__right {
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
    text-align: right;
  }

  .footer__center {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 16px;
  }

  .footer__logo {
    width: 120px;
  }

  .footer__info {
    font-size: 16px;

    strong {
      font-size: 16px;
    }

    span {
      font-size: 16px;
    }
  }


}
