<section class="about" id="about" #aboutSection>
  <div class="container about__inner">

    <div class="about__image"
         [@revealLeft]="inView ? 'visible' : 'hidden'">
      <div class="about__image-wrap">
        <img src="assets/img/profil1.png"
             [alt]="'about.imageAlt' | t" />
      </div>
    </div>

    <div class="about__content"
         [@revealRight]="inView ? 'visible' : 'hidden'">
      <div class="about__card">
        <span class="about__kicker">{{ 'about.kicker' | t }}</span>
        <h2 class="about__title">{{ 'about.title' | t }}</h2>

        <p class="about__text">{{ 'about.text' | t }}</p>

        <ul class="about__facts">
          <li>
            <img src="assets/icons/location_on.svg" alt="" aria-hidden="true" />
            <span>{{ 'about.facts.location' | t }}</span>
          </li>
          <li>
            <img src="assets/icons/cognition.svg" alt="" aria-hidden="true" />
            <span>{{ 'about.facts.mindset' | t }}</span>
          </li>
          <li>
            <img src="assets/icons/new_releases.svg" alt="" aria-hidden="true" />
            <span>{{ 'about.facts.approach' | t }}</span>
          </li>
        </ul>
      </div>
    </div>

  </div>
</section>
